			.header .tabs {
					display: none;
			}

			.tabs .title {
				font-weight: bolder;
				
			}
			.header input:checked ~ .tabs {
				display: flex;
				flex-direction: column;
				background-color: white;
				border-radius: 5px;
				padding: 5px;
				position: absolute;
				margin-top: 50px;
				z-index: 2;
				text-align: left;
				border: solid 2px;
			}
			.tabs span {
				text-align: left;
				width: 100%;
			}