/* BODY and HTML */
body {
	padding:0;
	margin: 0;
}
/* MAIN and IMPORTANT */
.app {
	display: table;
}
.app img {
	width: 25px;
	height: 25px;
}
	.image , .title {
		vertical-align:middle;
		display: table-cell;
	}
/* CLOCK */